<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Powered by https://github.com/janjongboom/ttn-sensor-map -->
</head>

<body>
  <div id="header">
  </div>

  <div class="title">
    <h1>{{title}}</h1>
  </div>

  <div id="map"></div>

  <div id="notification" style="opacity: 0; visibility: hidden;"></div>

  <script src="/helper.js"></script>
  <script src="/maps.js"></script>
  <script src="/Chart.bundle.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    window.devices = {{{devices}}};
    window.config = {{{config}}};
  </script>
  <script>
    // Here is how we connect back to the server
    var socket = io.connect(location.origin);

    function createNewDevice(device) {
      if (!device.lat || !device.lng) return;

      var d = {
          id: device.id,
          lat: device.lat,
          lng: device.lng
        };

        Object.keys(window.config.dataMapping).forEach(function(k) {
          d[k] = [];
        });

        window.devices.push(d);
        window.addDevice(d);

        return d;
    }

    socket.on('value-change', function(prop, device, ts, value) {
      console.log('value-change', prop, device.id, ts, value);

      var d = window.devices.filter(function(d) { return d.id === device.id })[0];
      if (!d) {
        d = createNewDevice(device);
      }

      d[prop].push({ ts: ts, value: value });
    });

    socket.on('location-change', function(device, lat, lng) {
      console.log('location-change', device.id, lat, lng);
      var d = window.devices.filter(function(d) { return d.id === device.id })[0];
      if (!d) {
        d = createNewDevice(device);
      }
      d.lat = lat;
      d.lng = lng;
      if (d.marker) {
        smoothMove(d.marker, lat, lng);

        if (lat !== d.marker.position.lat() || lng !== d.marker.position.lng()) {
          // if a new update comes in within 3 seconds cancel the other timeout
          clearTimeout(d._to);
          d.marker.setIcon('/bus-green.png');
          d._to = setTimeout(function() {
            d.marker.setIcon('/bus-black.png');
          }, 3000);
        }
      }
    });

    // from https://stackoverflow.com/questions/5892113/extend-google-maps-marker-to-animate-smoothly-on-update
    function smoothMove(marker, lat, lng) {
      var id = marker._smid = (marker._smid || 0) + 1;

      var position = [marker.position.lat(), marker.position.lng()];
      var numDeltas = 100;
      var delay = 10; //milliseconds
      var i = 0;
      var deltaLat;
      var deltaLng;
      function transition(result){
        i = 0;
        deltaLat = (result[0] - position[0]) / numDeltas;
        deltaLng = (result[1] - position[1]) / numDeltas;
        moveMarker();
      }

      function moveMarker(){
        // cancel animation if new location is present
        if (id !== marker._smid) return;

        position[0] += deltaLat;
        position[1] += deltaLng;
        var latlng = new google.maps.LatLng(position[0], position[1]);
        marker.setPosition(latlng);
        if(i!=numDeltas){
          i++;
          setTimeout(moveMarker, delay);
        }
      }

      transition([ lat, lng ]);
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{{mapsApiKey}}}&amp;callback=initMap"></script>

</body>
</html>
